<?xml version="1.0"?>
<configuration>

    <!-- CHANGE DESIRED PROPERTIES HERE -->
    <property name="LOG_PATH" value="./logs"/> <!-- LOCATION OF LOGS -->
    <property name="LOG_FILE" value="drone-battery-updates"/> <!-- NAME OF LOG FILE -->
    <property name="LOG_PATTERN" value="[%d{HH:mm:ss.SSS}] ==> %msg%n"/> <!-- LOGGING PATTERN -->
    <timestamp key="FILE_GENERATION_PERIOD" datePattern="yyyyMMdd"/> <!-- HOW OFTEN GENERATE LOG FILE -->
    <!-- ==================================== -->

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!-- Console Appender -->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Separate File Appender for Certain Events (e.g., INFO level) -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/${LOG_FILE}.${FILE_GENERATION_PERIOD}.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/drone-level.{log}.log</fileNamePattern>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <totalSizeCap>0</totalSizeCap>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Logger Definitions -->
    <logger name="DRONE_BATTERY_AUDITOR" level="info">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Root Logger -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>





