<?xml version="1.0"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <!-- Define the default log file -->
    <property name="LOG_PATH" value="./logs"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/logback.log}"/>

    <!-- Console Appender -->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!-- Separate File Appender for Certain Events (e.g., INFO level) -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${FILE_LOG_CHARSET}</charset>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/drone-level.%d{yyyy-MM-dd_HH-mm}.log</fileNamePattern>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <immediateFlush>true</immediateFlush>
            <totalSizeCap>0</totalSizeCap>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Logger Definitions -->
    <logger name="DRONE_BATTERY_AUDITOR" level="info">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Root Logger -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>





